*{
	margin: 0px;
	padding: 0px;
}
body{
	  font-family: "Inter", sans-serif;
}
.top-head{
	background-image: url("/images/desktop.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px 0;
	background-position: top;
}
.top-head h3{
	font-size: 40px;
	font-weight: 600;
	color: #fff;
	text-align: center;
}
.top-head h3{
	margin-bottom: 0px;
}
.top-head h3 span{
	color: #fff;
	 font-weight: 700;
    margin-bottom: 0;
      color: #fff;
}
.top-head h6{
	text-align: right;
}
.top-head h6 a{
	border: 2px solid #000;
	padding: 10px 20px;
	font-size: 22px;
	font-weight: 700;
	color: #041634;
	text-decoration: none;
	border-radius:5px;
}
.head-sec p {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}
.head-sec h3{
	color: #fff;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
form{
	background-color: #fff;
	padding: 30px 20px;
	border-radius:10px;
	margin-top: 100px;
	box-shadow: 2px 10px 10px #000;
}
form input {
    width: 100%;
    height: 35px;
    padding: 10px;
}
form label{
	color: #000;
	margin: 10px 0;
}
form p input{
	width: 10px;
	margin: 0px;
	height: auto;
}
form p{
	color: #000;
	font-size: 12px;
	margin: 15px 0;
}
form .btn{
	width: 100%;
	padding: 10px;
	color: #000;
	font-size: 16px;
	font-weight: 600;
	background-color: #f8ff13;

}
form .btn:hover{
	background-color: #0a242d;
	color: #fff;
}
.main{
	background-color: #303c06;
	color: #fff;
	padding: 20px 0;
}
.main p{
	margin: 0;
}
footer{
	background-color: #000;
	color: #fff;
	font-size: 12px;
	padding: 10px 0;
}
footer p{
	margin: 0;
}
footer p a{
	text-decoration: none;
	color: #fff;
	margin: 0px 20px;
}
.main-bg{
	background-color: #090f1f;
}
.privacy h1{
	font-size: 26px;
}
.privacy h3{
	font-size: 22px;
}
.privacy h6{
	font-size: 18px;
	margin: 15px 0;
}
.privacy p{
	font-size: 14px;
	margin: 5px 0;
}
.privacy{
	padding: 50px 0;
}
.thank{
	padding: 150px 0;
	text-align: center;
}
.thank h2{
	font-size: 40px;
	font-weight: 600;
	margin: 15px 0;
}
.top-head h3 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-align: center;
}
@media only screen and (max-width: 992px) {
	.top-head h6{
		text-align: center;
		margin: 15px 0;
	}

}
@media only screen and (max-width: 768px) {
	 .main-sm-box{
	 	margin: 20px 0;
	 }
	 .top-head{
	 	background-image: url("/images/mobile.png");
	 	background-repeat: no-repeat;
	 	background-size: cover;
	 }
	 .top-head h6 a{
	 	background-color: yellow;
	 	color: #000;
	 	font-weight: 600;
	 	padding: 10px 30px;
	 }
}
@media only screen and (max-width: 550px) {
	    .top-head h6 a {
        background-color: yellow;
        color: #000;
        font-weight: 600;
        padding: 10px 30px;
        font-size: 14px;
    }
    form{
    	margin-top: 200px;
    }
}



